<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.ApplyoutMapper">
    <resultMap id="applyoutResultMap" type="Pojo.ApplyOut">
        <id column="aoid" property="id" jdbcType="INTEGER"/>
        <result column="houseId" property="houseId" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="userListId" property="userListId" jdbcType="INTEGER"/>
        <collection property="userList" ofType="Pojo.UserList">
            <id property="id" column="id"/>
            <!--用户id已经在user对象中存在，此处可以不设置-->
            <!-- <result property="userId" column="id"/> -->
            <result property="name" column="name"/>
            <result property="idCard" column="idCard"/>
            <result property="phone" column="phone"/>
            <result property="userId" column="userId"/>

        </collection>

    </resultMap>
    <select id="findbyid" resultType="Pojo.ApplyOut" parameterType="Integer">
	select * from applyOut where aoid=#{aoid}
	</select>
    <select id="findallapplyout" resultMap="applyoutResultMap">
		SELECT
	a.*, u.*
    FROM
	`applyOut` a
LEFT JOIN userList u ON u.id = a.userListId

	</select>
    <insert id="insertapplyout" parameterType="Pojo.ApplyOut">
	  insert into applyOut(houseId,address,status,userListId)
	  values(#{houseId},#{address},#{status},#{userListId})
	</insert>
    <update id="updateapplyout" parameterType="Pojo.ApplyOut">
		update applyOut set status=#{status}
		where aoid=#{id}
</update>
    <update id="updateapplyoutbyhouse" parameterType="Pojo.ApplyOut">
		update applyOut set status=#{status}
		where houseId=#{houseId}
</update>
    <delete id="deleteapplyout" parameterType="Integer">
		delete from applyOut where aoid=#{aoid}
	</delete>
</mapper>