<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.CheckoutMapper">
    <resultMap id="checkoutResultMap" type="Pojo.Checkout">
        <id column="cid" property="id" jdbcType="INTEGER"/>
        <result column="house_id" property="houseId" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="userlist_id" property="userListId" jdbcType="INTEGER"/>
        <collection property="userList" ofType="Pojo.UserList">
            <id property="id" column="id"/>
            <!--用户id已经在user对象中存在，此处可以不设置-->
            <!-- <result property="userId" column="id"/> -->
            <result property="name" column="name"/>
            <result property="idCard" column="idcard"/>
            <result property="phone" column="phone"/>
            <result property="userId" column="user_id"/>

        </collection>

    </resultMap>
    <insert id="insertCheckout" parameterType="Pojo.Checkout">
	  insert into checkout (house_id,address,userlist_id,status)
	  values(#{houseId},#{address},#{userListId},#{status})
	</insert>
    <select id="getAllCheckout" resultMap="checkoutResultMap">
		SELECT c.*, u.* FROM `checkout` c LEFT JOIN userList u ON u.id = c.userlist_id
	</select>
    <delete id="deleteCheckout" parameterType="Integer">
		delete from checkout where cid=#{cid}
	</delete>
</mapper>