<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.ContractMapper">
    <resultMap id="BaseResultMap" type="Pojo.Contract">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="houseId" property="houseId" jdbcType="VARCHAR"/>
        <result column="chuzu" property="chuzu" jdbcType="VARCHAR"/>
        <result column="chuzu_idcard" property="chuzu_idcard" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="zuke" property="zuke" jdbcType="VARCHAR"/>
        <result column="zuke_idcard" property="zuke_idcard" jdbcType="VARCHAR"/>
        <result column="fromDate" property="fromDate" jdbcType="VARCHAR"/>
        <result column="toDate" property="toDate" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="payday" property="payday" jdbcType="INTEGER"/>
    </resultMap>
    <select id="findhetong" parameterType="String" resultType="Pojo.Contract">
		select * from hetong where houseId=#{houseId}
	</select>
    <insert id="inserthetong" parameterType="Pojo.Contract">
	  insert into hetong(houseId,address,payday,price,chuzu,chuzu_idcard,zuke,zuke_idcard,fromDate,toDate)
	  values(#{houseId},#{address},#{payday},#{price},#{chuzu},#{chuzu_idcard},#{zuke},#{zuke_idcard},#{fromDate},#{toDate})
	</insert>
    <update id="updatehetong" parameterType="Pojo.Contract">
		update hetong set address=#{address},payday=#{payday},price=#{price},chuzu=#{chuzu},chuzu_idcard=#{chuzu_idcard},
		zuke=#{zuke},zuke_idcard=#{zuke_idcard},fromDate=#{fromDate},toDate=#{toDate}
		where houseId=#{houseId}
</update>
    <delete id="deletehetong" parameterType="String">
		delete from hetong where houseId=#{houseId}
	</delete>
</mapper>