<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.SolveMapper">
    <resultMap id="BaseResultMap" type="Pojo.Solve">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="house_id" property="houseId" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="date" property="date" jdbcType="DATE"/>
        <result column="detail" property="detail" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="userlist_id" property="userListId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="Pojo.QueryVo">
        select * from solve
        <where>
            <if test="zuName!=null and zuName!=''">
                and name like '%${zuName}%'
            </if>
            <if test="fromDate!=null and fromDate!=''">
                and date &gt;= #{fromDate}
            </if>
            <if test="toDate!=null and toDate!=''">
                and date &lt;= #{toDate}
            </if>
            <if test="userListId!=null and userListId!=''">
                and userListId=#{userListId}
            </if>
        </where>
    </select>

    <select id="selectCount" resultType="Integer" parameterType="Pojo.QueryVo">
        select count(*) from solve
        <where>
            <if test="zuName!=null and zuName!=''">
                and name like '%${zuName}%'
            </if>
            <if test="fromDate!=null and fromDate!=''">
                and date &gt;= #{fromDate}
            </if>
            <if test="toDate!=null and toDate!=''">
                and date &lt;= #{toDate}
            </if>
            <if test="userListId!=null and userListId!=''">
                and userListId=#{userListId}
            </if>
            <if test="userListId!=null and userListId!=''">
                and userListId=#{userListId}
            </if>
        </where>
    </select>
    <delete id="deleteSolve" parameterType="Integer">
		delete from solve  where id=#{id}
	</delete>
    <insert id="insertSolve" parameterType="Pojo.Solve">
		 insert into solve(house_id,address,date,detail,status,name,userlist_id)
	     values(#{houseId},#{address},#{date},#{detail},#{status},#{name},#{userListId})
	</insert>
</mapper>