<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.UserListMapper">
    <resultMap id="applyResultMap" type="Pojo.UserList">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="idcard" property="idCard" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <collection property="apply" ofType="Pojo.Apply">
            <id property="id" column="apply_id"/>
            <!--用户id已经在user对象中存在，此处可以不设置-->
            <!-- <result property="userId" column="id"/> -->
            <result property="house_id" column="houseId"/>
            <result property="address" column="address"/>
            <result property="area" column="area"/>
            <result property="price" column="price"/>
            <result property="status" column="status"/>
        </collection>

    </resultMap>
    <resultMap id="zuResultMap" type="Pojo.UserList">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="idcard" property="idCard" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <collection property="zuList" ofType="Pojo.ZuList">
            <id property="zid" column="zid"/>
            <!--用户id已经在user对象中存在，此处可以不设置-->
            <!-- <result property="userId" column="id"/> -->
            <result property="houseId" column="house_id"/>
            <result property="address" column="address"/>
            <result property="contractId" column="contract_id"/>
            <result property="price" column="price"/>
            <result property="status" column="status"/>
        </collection>

    </resultMap>
    <resultMap id="checkoutResultMap" type="Pojo.UserList">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="idcard" property="idCard" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <collection property="checkout" ofType="Pojo.Checkout">
            <id property="id" column="cid"/>
            <!--用户id已经在user对象中存在，此处可以不设置-->
            <!-- <result property="userId" column="id"/> -->
            <result property="houseId" column="house_id"/>
            <result property="address" column="address"/>
            <result property="userListId" column="userlist_id"/>
            <result property="status" column="status"/>
        </collection>

    </resultMap>
    <resultMap id="applyOutResultMap" type="Pojo.UserList">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="idcard" property="idCard" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <collection property="applyOut" ofType="Pojo.ApplyOut">
            <id property="id" column="aoid"/>
            <!--用户id已经在user对象中存在，此处可以不设置-->
            <!-- <result property="userId" column="id"/> -->
            <result property="houseId" column="house_id"/>
            <result property="address" column="address"/>
            <result property="userListId" column="userlist_id"/>
            <result property="status" column="status"/>
        </collection>

    </resultMap>
    <resultMap id="userMap" type="Pojo.UserList">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="idcard" property="idCard" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <association property="user" javaType="Pojo.User">
            <!-- column:user表的主键对应的列  property：user对象中id属性-->
            <id column="id" property="id"/>
            <result column="username" property="username"/>
            <result column="password" property="password"/>
        </association>
    </resultMap>

    <delete id="deleteUser" parameterType="Integer">
        delete from user where id=#{id}
    </delete>

    <delete id="deleteUserList" parameterType="Integer">
        delete from userlist where user_id=#{id}
    </delete>

    <select id="findAllUserList" resultMap="userMap">
		SELECT u.*, ul.* FROM `user` u, userlist ul where u.id = ul.user_id and u.type='zuke'
	</select>

    <select id="findHasUserList" parameterType="Integer" resultType="Pojo.UserList">
		select * from userlist where user_id=#{userId}
	</select>

    <select id="checkUserList" parameterType="String" resultType="Pojo.UserList">
		select * from userlist where idcard=#{idCard}
	</select>

    <insert id="insertUserList" parameterType="Pojo.UserList">
	  insert into userList(name,idcard,phone,user_id)
	  values(#{name},#{idCard},#{phone},#{userId})
	</insert>

    <select id="findUserListUpdate" parameterType="Pojo.UserList" resultType="Pojo.UserList">
		select * from userlist where idcard=#{idCard} and id!=#{id}
	</select>

    <update id="updateUserList" parameterType="Pojo.UserList">
		update userlist set name=#{name},idcard=#{idCard},phone=#{phone} where id=#{id}
    </update>
    <select id="getUserZuList" resultMap="zuResultMap" parameterType="Integer">
		SELECT u.*, z.* FROM `userlist` u, zulist z where u.id = z.userlist_id and u.id=#{id}
	</select>
    <select id="getMyCheckout" resultMap="checkoutResultMap" parameterType="Integer">
		SELECT u.*, c.* FROM `userlist` u, checkout c where u.id = c.userlist_id and u.id=#{id}
	</select>
    <select id="getMyApply" resultMap="applyResultMap" parameterType="Integer">
		SELECT	u.*, a.* FROM `userlist` u, apply a where u.id = a.userlist_id and u.id=#{id}
	</select>
    <select id="getMyApplyOut" resultMap="applyOutResultMap" parameterType="Integer">
		SELECT u.*, a.* FROM `userlist` u, applyout a where u.id = a.userlist_id and u.id=#{id}
	</select>
</mapper>