<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.ZuListMapper">
    <resultMap id="userlistzuResultMap" type="Pojo.ZuList">
        <id column="zid" property="zid" jdbcType="INTEGER"/>
        <result column="houseId" property="houseId" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>

        <result column="contractId" property="contractId" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="DOUBLE"/>
        <result column="userListId" property="userListId" jdbcType="INTEGER"/>
        <association property="userList" javaType="Pojo.UserList">
            <!-- column:userlist表的主键对应的列  property：userlist对象中id属性-->
            <id column="id" property="id"/>
            <result column="name" property="name" jdbcType="VARCHAR"/>
            <result column="idCard" property="idCard" jdbcType="VARCHAR"/>
            <result column="phone" property="phone" jdbcType="VARCHAR"/>
            <result column="userId" property="userId" jdbcType="INTEGER"/>
        </association>
    </resultMap>

    <insert id="insertZuList" parameterType="Pojo.ZuList">
	  insert into zuList(houseId,price,address,userListId,contractId)
	  values(#{houseId},#{price},#{address},#{userListId},#{contractId})
	</insert>
    <select id="findZuListByUid" parameterType="Integer" resultMap="userlistzuResultMap">
		SELECT
			z.*,
			u.*
		FROM
			zuList z
		JOIN `userList` u ON u.id = z.userListId and u.id=#{userListId}
	</select>
    <select id="findZukeZuList" parameterType="Integer" resultMap="userlistzuResultMap">
		SELECT
			z.*,
			u.*
		FROM
			zuList z
		JOIN `userList` u ON u.id = z.userListId and z.zid=#{id}
	</select>
    <select id="findZuUserList" resultMap="userlistzuResultMap">
		SELECT
			z.*,
			u.*
		FROM
			zuList z
		JOIN `userList` u ON u.id = z.userlist_id
	</select>
    <select id="findZuList" resultType="Pojo.ZuList" parameterType="String">
		SELECT * FROM
			zuList WHERE houseId =#{houseId}
	</select>
    <delete id="deleteZuList" parameterType="String">
		delete from zuList where houseId=#{houseId}
	</delete>
</mapper>